In [1]:
%matplotlib inline
import pandas as pd
import sqlalchemy as sqla
import statsmodels.api as sm
import numpy as np
from datetime import datetime
import warnings
import seaborn as sns
import matplotlib.pyplot as plt

warnings.filterwarnings("ignore")

In [2]:
engine = "postgresql://root:r00t@xxxe"  ## I extract info of all the other funds from local databases
engine = sqla.create_engine(engine)
mysql = "mysql+pymysql://rooxxxxy"
mysql = sqla.create_engine(mysql)

In [6]:
today = datetime.today()
last_three_year = datetime(today.year-3, today.month,today.day - 7)

In [23]:
ex = pd.read_excel('fund_intended.xlsx')
ex = [240004] + ex['基本信息'].tolist()
def f(x):
    x = str(x)
    if len(x) < 6:
        res = ['0' for i in range(6-len(x))]
        return ''.join(res) + x
    return x
ex = [f(x) for x in ex]
ex

['240004',
 '001475',
 '006080',
 '009486',
 '519212',
 '006502',
 '006128',
 '008293',
 '004851',
 '001322',
 '000913',
 '008084',
 '519005',
 '005520',
 '000767',
 '001294',
 '005894',
 '007490',
 '001563',
 '001628',
 '009162',
 '001915',
 '350009',
 '000220',
 '580006',
 '002251',
 '000603',
 '004128',
 '005628',
 '005293',
 '003230',
 '005774',
 '005609',
 '005303',
 '006250',
 '001323',
 '005076',
 '050018',
 '005927',
 '004925',
 '002408',
 '000522',
 '001298',
 '000690',
 '001880',
 '005634',
 '580009',
 '006228',
 '005176',
 '001261',
 '005119',
 '004224',
 '002708',
 '000684',
 '005453',
 '257070',
 '001956',
 '000711',
 '002919',
 '005360',
 '161903',
 '004040',
 '006265',
 '002983',
 '002296',
 '009644',
 '168601',
 '005311',
 '002420',
 '002885',
 '002772',
 '008120',
 '001411',
 '006025',
 '290008',
 '001809',
 '580007',
 '290014',
 '001704',
 '162201',
 '004666',
 '000828',
 '002300',
 '290011',
 '008633',
 '005343',
 '001970',
 '320007',
 '008655',
 '001574',
 '006736',
 '007689',
 '470021',
 '007872',
 '002256',
 '002560',
 '005477',
 '005844',
 '004314',
 '001404',
 '519674']

In [29]:
sql = f''' 
select * from fund_return_weekly where code in ({str(ex)[1:-1]}) and date > '{last_three_year}'
order by date
'''
df = pd.read_sql(sql, engine)
df['date'] = pd.to_datetime(df['date'])
# df = df.set_index('date')

df

         code                      date       ret
0      002251 2020-07-19 16:00:00+00:00  0.068089
1      006025 2020-07-19 16:00:00+00:00 -0.001904
2      008655 2020-07-19 16:00:00+00:00 -0.008502
3      006080 2020-07-19 16:00:00+00:00 -0.031702
4      006502 2020-07-19 16:00:00+00:00 -0.048124
...       ...                       ...       ...
15548  001915 2023-07-16 16:00:00+00:00 -0.036375
15549  009644 2023-07-16 16:00:00+00:00 -0.050143
15550  519212 2023-07-16 16:00:00+00:00 -0.009109
15551  001404 2023-07-16 16:00:00+00:00 -0.044448
15552  350009 2023-07-16 16:00:00+00:00 -0.055556

[15553 rows x 3 columns]

In [30]:
df = df.pivot(index='date',values='ret',columns='code')
df

code,000220,000522,000603,000684,000690,000711,000767,000828,000913,001261,...,290014,320007,350009,470021,519005,519212,519674,580006,580007,580009
date,,,,,,,,,,,,,,,,,,,,,
2020-07-19 16:00:00+00:00,0.009895,-0.002752,-0.008907,-0.009318,0.069335,-0.011698,0.008233,-0.021094,-0.005244,0.005828,...,-0.006864,-0.039390,-0.001012,-0.000618,-0.055319,-0.016984,-0.021783,-0.022571,-0.016377,0.001748
2020-07-26 16:00:00+00:00,0.071353,0.127710,0.074346,0.064356,-0.003342,0.082138,0.037862,0.070034,0.075172,0.111755,...,0.051404,0.088026,0.066329,0.087871,0.061261,0.013990,0.079655,0.083800,0.042184,0.048997
2020-08-02 16:00:00+00:00,-0.024652,-0.009437,-0.002281,-0.002326,0.169685,0.004309,0.009299,0.011328,-0.025615,0.021593,...,0.028348,-0.027136,-0.013295,-0.013652,0.035654,0.031526,-0.008281,-0.029713,0.032642,-0.008574
2020-08-09 16:00:00+00:00,-0.064615,-0.014114,0.005335,-0.023776,-0.024656,-0.046535,-0.018426,-0.036714,-0.051008,-0.056851,...,-0.029165,-0.011364,-0.012512,-0.025952,-0.053279,0.052632,-0.024295,-0.018099,-0.024693,-0.000258
2020-08-16 16:00:00+00:00,-0.003705,-0.017538,-0.012889,0.038682,-0.009994,0.003808,0.002166,-0.007752,-0.010066,-0.027048,...,0.000823,-0.051724,0.012183,0.004144,-0.044156,-0.007052,-0.035100,-0.004019,0.015710,0.020915
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-18 16:00:00+00:00,-0.025524,-0.002714,-0.003731,-0.027537,0.007459,-0.052707,-0.034937,-0.005930,-0.036096,-0.032979,...,-0.046459,-0.036517,-0.012429,-0.022184,-0.020065,-0.032383,-0.041441,0.006029,-0.012203,0.019670
2023-06-25 16:00:00+00:00,-0.004989,-0.021088,0.033173,-0.011012,0.040719,0.001003,-0.008850,-0.057047,0.004031,0.025303,...,0.004730,-0.013120,-0.052632,0.028505,-0.062304,0.028401,-0.019918,-0.001572,0.051691,0.040991
2023-07-02 16:00:00+00:00,-0.017863,-0.017373,-0.024858,-0.013786,-0.011179,-0.008012,-0.007305,-0.049822,-0.020133,-0.030043,...,-0.016007,-0.006647,-0.051530,-0.020362,-0.061836,0.035215,-0.010668,-0.024009,-0.062442,-0.020847
2023-07-09 16:00:00+00:00,0.001595,0.001061,-0.004249,-0.004301,-0.010791,0.014134,0.015536,0.019559,0.001188,-0.001106,...,0.013397,0.016357,0.016129,0.012702,0.000997,0.005821,0.042501,-0.004134,-0.001319,-0.005997
2023-07-16 16:00:00+00:00,-0.019433,-0.069587,-0.041600,-0.016199,-0.020260,-0.019413,-0.037037,-0.082857,-0.020107,-0.035437,...,-0.030689,-0.029993,-0.055556,-0.042759,-0.083268,-0.009109,-0.041826,-0.041405,-0.016837,-0.024352

In [73]:
df2 = df.reset_index()
df2['year'] = df2['date'].dt.year
df2['qua'] = df2['date'].dt.quarter
def f(x):
    res = pd.DataFrame()
    for column in x.columns:
        
        if column == '240004' or column == 'date': continue
        # print(x[column])
        corr = x[column].corr(x['240004'], method='spearman')
        data = {'code':[column],'corr':[corr]}
        data = pd.DataFrame(data)
        res = pd.concat([res,data],axis=0)
    # print(res)
    return res

df2 = df2.groupby(['year','qua']).apply(lambda x:f(x)).reset_index()
df2['yearqtr'] = df2.year.astype(str)+' Q' +df2.qua.astype(str)
df2 = df2.pivot(index='code',columns='yearqtr',values='corr').dropna()
df2.drop(columns='2023 Q3',inplace=True)
df2['mean'] = df2.mean(axis=1)
df2

yearqtr,2020 Q3,2020 Q4,2021 Q1,2021 Q2,2021 Q3,2021 Q4,2022 Q1,2022 Q2,2022 Q3,2022 Q4,2023 Q1,2023 Q2,mean
code,,,,,,,,,,,,,
000220,0.445455,0.379121,0.456044,0.532967,0.137363,0.423077,-0.321678,0.587912,-0.148352,0.363636,0.307692,0.483516,0.303896
000522,0.690909,0.104396,0.868132,0.087912,0.175824,0.109890,-0.566434,0.510989,0.335165,0.006993,0.454545,0.582418,0.280062
000603,0.709091,0.598901,0.708791,0.362637,0.368132,0.483516,-0.475524,0.675824,0.857143,0.195804,0.510490,0.439560,0.452864
000684,0.672727,0.384615,0.357143,0.587912,0.087912,0.412088,-0.426573,0.565934,-0.153846,0.125874,0.279720,0.796703,0.307517
000690,0.327273,0.752747,0.631868,0.329670,0.197802,0.412088,-0.335664,0.406593,0.087912,-0.293706,0.139860,0.373626,0.252506
...,...,...,...,...,...,...,...,...,...,...,...,...,...
519212,0.527273,0.368132,0.043956,0.406593,0.131868,0.774725,0.874126,0.192308,0.461538,0.636364,0.342657,-0.340659,0.368240
519674,0.654545,0.076923,0.802198,0.115385,0.049451,-0.016484,-0.468531,0.417582,0.000000,0.076923,0.608392,0.813187,0.260798
580006,0.781818,0.692308,0.818681,0.736264,0.516484,0.203297,-0.447552,0.620879,0.692308,0.531469,0.545455,0.280220,0.497636
580007,0.872727,0.598901,0.829670,0.648352,0.346154,0.351648,-0.349650,0.648352,0.895604,0.139860,0.433566,0.357143,0.481027
580009,0.909091,0.758242,0.527473,0.280220,0.148352,0.346154,-0.370629,0.395604,0.489011,-0.195804,0.125874,0.285714,0.308275

In [76]:
from fastdtw import fastdtw
res = pd.DataFrame(columns=['code','整体corr','DTW'])
for column in df.columns:
    if column == '240004': continue
    spearman_corr = df[column].corr(df['240004'], method='spearman')
    dtw,path =  fastdtw(df[column], df['240004'])

    cosine_similarity = np.dot(df[column], df['240004']) / (np.linalg.norm(df[column]) * np.linalg.norm(df['240004']))

    res = pd.concat([res,pd.DataFrame({'code':[column],'整体corr':[spearman_corr],'DTW':dtw,'cosine_similarity':cosine_similarity})],axis=0)
res

      code    整体corr       DTW  cosine_similarity
0   000220  0.297495  3.524425           0.343330
0   000522  0.344107  3.439291           0.402493
0   000603  0.449535  4.377558           0.480727
0   000684  0.287908  3.636871           0.332385
0   000690  0.293303  3.990929           0.301425
..     ...       ...       ...                ...
0   519212  0.359564  4.013827           0.327319
0   519674  0.295698  5.144618           0.290259
0   580006  0.507259  4.540058           0.572213
0   580007  0.454174  4.021638           0.425625
0   580009  0.335647  3.851865           0.336470

[100 rows x 4 columns]

In [77]:
result = res.merge(df2,on='code',how='outer')
result

,code,整体corr,DTW,cosine_similarity,2020 Q3,2020 Q4,2021 Q1,2021 Q2,2021 Q3,2021 Q4,2022 Q1,2022 Q2,2022 Q3,2022 Q4,2023 Q1,2023 Q2,mean
0,000220,0.297495,3.524425,0.343330,0.445455,0.379121,0.456044,0.532967,0.137363,0.423077,-0.321678,0.587912,-0.148352,0.363636,0.307692,0.483516,0.303896
1,000522,0.344107,3.439291,0.402493,0.690909,0.104396,0.868132,0.087912,0.175824,0.109890,-0.566434,0.510989,0.335165,0.006993,0.454545,0.582418,0.280062
2,000603,0.449535,4.377558,0.480727,0.709091,0.598901,0.708791,0.362637,0.368132,0.483516,-0.475524,0.675824,0.857143,0.195804,0.510490,0.439560,0.452864
3,000684,0.287908,3.636871,0.332385,0.672727,0.384615,0.357143,0.587912,0.087912,0.412088,-0.426573,0.565934,-0.153846,0.125874,0.279720,0.796703,0.307517
4,000690,0.293303,3.990929,0.301425,0.327273,0.752747,0.631868,0.329670,0.197802,0.412088,-0.335664,0.406593,0.087912,-0.293706,0.139860,0.373626,0.252506
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,519212,0.359564,4.013827,0.327319,0.527273,0.368132,0.043956,0.406593,0.131868,0.774725,0.874126,0.192308,0.461538,0.636364,0.342657,-0.340659,0.368240
96,519674,0.295698,5.144618,0.290259,0.654545,0.076923,0.802198,0.115385,0.049451,-0.016484,-0.468531,0.417582,0.000000,0.076923,0.608392,0.813187,0.260798
97,580006,0.507259,4.540058,0.572213,0.781818,0.692308,0.818681,0.736264,0.516484,0.203297,-0.447552,0.620879,0.692308,0.531469,0.545455,0.280220,0.497636
98,580007,0.454174,4.021638,0.425625,0.872727,0.598901,0.829670,0.648352,0.346154,0.351648,-0.349650,0.648352,0.895604,0.139860,0.433566,0.357143,0.481027
99,580009,0.335647,3.851865,0.336470,0.909091,0.758242,0.527473,0.280220,0.148352,0.346154,-0.370629,0.395604,0.489011,-0.195804,0.125874,0.285714,0.308275

In [ ]:
pip install pyts
from pyts.approximation import SymbolicAggregateApproximation
sax_transformer = SymbolicAggregateApproximation(n_bins=8, strategy='uniform')
sax_df = pd.DataFrame()
sax_df = df.apply(lambda col_data: sax_transformer.transform(col_data.values.reshape(1, -1)).flatten())
sax_df

In [78]:
result.to_excel('240004.xlsx')